.enterprise {
  background-image: url("https://i.redd.it/cjwihhen2n511.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;

}

.imgpos{

   background-color: white;
   opacity: 0.6;
   width: 350px;
   margin-left: 40%;
   text-align: center;


}

.padding{

  padding: 15px 15px;


}
.bottom-margin {
  margin-bottom: 30px;
}
